/* En tu archivo Style.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

header {
  background-color: rgba(22, 65, 81, 1);
  padding: 10px 0;
}

.contenedor-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.bar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgba(197, 229, 238, 1);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 5px 10px;
  padding-right: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-icon {
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

#Login {
  height: 32px;
}

.nav-icon:hover {
  transform: scale(1.1);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image {
  width: 100%;
  height: auto;
}

.main-content {
  z-index: 2;
  position: relative;
  bottom: 215%;
}

.cowgirl-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(22, 65, 81, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cowgirl-button:hover {
  background-color: rgba(197, 229, 238, 1);
}

footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 120%;
  width: 100%;
  max-width: 290px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.subscribe-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(22, 65, 81, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscribe-button:hover {
  background-color: rgba(197, 229, 238, 1);
}
